{% extends 'apps/base.html' %}

{% block content %}


<div class="container">
<!--  Forms  -->
    <div class="row">
        <div class="col col-8 offset-2">
            <h1 class="alert alert-warning text-center">Employee Registration Form!</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
<!--  Display Data  -->
<!--    {% for i in data %}-->
<!--    {{ i.name }}-->
<!--    {% endfor %}-->

    <table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr >
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
    </tr>
  </tbody>
</table>
</div>

{% endblock content %}